@font-face {
  font-family: arcade;
  src: url(RetrcadeRegular-x30Mr.ttf);
  text-align: center;
}

h1 {
  text-align: center;
  margin: 20px;
  color: antiquewhite;
  font-family: arcade;
  font-size:x-large;
  text-shadow: #333a99 0px 0px 5px, #333a99 0px 0px 10px, #333a99 0px 0px 15px, #333a99 0px 0px 20px, #333a99 0px 0px 30px, #333a99 0px 0px 40px, #333a99 0px 0px 50px, #333a99 0px 0px 75px;
}

.gameOver {
  font-family: arcade;
  font-size: x-large;
  text-align: center;
  color: #ffffff;
  font-weight: 900;
  text-shadow: #fe0000 0px 0px 5px, #fe0000 0px 0px 10px, #fe0000 0px 0px 15px, #fe0000 0px 0px 20px, #fe0000 0px 0px 30px, #fe0000 0px 0px 40px, #fe0000 0px 0px 50px, #fe0000 0px 0px 75px;
}

.score {
  font-family: arcade;
  font-size:medium;
  color: #ffffff;
  font-weight: bolder;
  text-shadow: #fe0000 0px 0px 5px, #fe0000 0px 0px 10px, #fe0000 0px 0px 15px, #fe0000 0px 0px 20px, #fe0000 0px 0px 30px, #fe0000 0px 0px 40px, #fe0000 0px 0px 50px, #fe0000 0px 0px 75px;
}

.messageContainer {
  display: flex;
  height: 150px;
  width: 250px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

body {
  background: rgb(14, 15, 44);
}

.timer {
  display: flex;
  width: 100px;
  color: white;
  height: fit-content;
  margin: 5px auto 5px 0;
  justify-content: space-between;
  font-family: arcade;
}

.btn {
  display: flex;
  width: fit-content;
  margin: auto auto auto auto;
}

button.pointer {
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  width: fit-content;
  background: url(background.jpg) center no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 500px 100px rgb(24 31 122);
}

.buttons {
  display: inline-flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}

.tableGame {
  position: relative;
  border: 2px solid white;
  width: 300px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
}

.airplane {
  position: relative;
  left: 100px;
  top: 390px;
  width: 80px;
  height: 70px;
  background: url(airplane.png) center no-repeat;
  background-size:cover;
  margin-bottom: 10px;
}

.asteroid {
  position:absolute;
  overflow: auto;
  width: 80px;
  height: 80px;
  background: center no-repeat;
  background-size:cover;
  filter: drop-shadow(0 0 1rem rgb(114, 113, 113));
}