@font-face {
  font-family: arcade;
  src: url(RetrcadeRegular-x30Mr.ttf);
  text-align: center;
}

h1 {
  text-align: center;
  color: antiquewhite;
  font-family: arcade;
}

body {
  background: rgb(14, 15, 44);
}

.timer {
  display: flex;
  width: 100px;
  color: white;
  height: fit-content;
  margin: 5px auto 5px 0;
  justify-content: space-between;
  font-family: arcade;
}

.btn {
  display: flex;
  width: fit-content;
  margin: auto auto auto auto;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  width: fit-content;
  background: url(background1.jpg) center no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 15px 15px 30px rgb(24, 25, 60),
            -15px -15px 30px rgb(24, 25, 60),
            15px 15px 30px rgb(24, 25, 60),
            -15px -15px 30px rgb(24, 25, 60);
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3500px); /* The image width */
  }
}



.buttons {
  display: inline-flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}

.tableGame {
  border: 2px solid white;
  width: 300px;
  height: 500px;
  overflow: hidden;
}

.airplane {
  position: relative;
  left: 100px;
  top: 330px;
  width: 80px;
  height: 70px;
  background: url(airplane.png) center no-repeat;
  background-size:cover;
  margin-bottom: 30px;
}

.asteroid {
  position: relative;
  width: 80px;
  height: 80px;
  background: url(98lh_bv8k_210607-removebg-preview.png) center no-repeat;
  background-size:cover;
  animation-direction: reverse;
}