@font-face {
  font-family: arcade;
  src: url(RetrcadeRegular-x30Mr.ttf);
  text-align: center;
}

h1 {
  text-align: center;
  margin: 20px;
  color: antiquewhite;
  font-family: arcade;
  font-size:x-large;
}

body {
  background: rgb(14, 15, 44);
}

.timer {
  display: flex;
  width: 100px;
  color: white;
  height: fit-content;
  margin: 5px auto 5px 0;
  justify-content: space-between;
  font-family: arcade;
}

.btn {
  display: flex;
  width: fit-content;
  margin: auto auto auto auto;
}

button.pointer {
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  width: fit-content;
  background: url(background.jpg) center no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 15px 15px 30px rgb(24, 25, 60),
            -15px -15px 30px rgb(24, 25, 60),
            15px 15px 30px rgb(24, 25, 60),
            -15px -15px 30px rgb(24, 25, 60);
}

.buttons {
  display: inline-flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}

.tableGame {
  position: relative;
  border: 2px solid white;
  width: 300px;
  height: 500px;
  overflow: hidden;
}

.airplane {
  position: relative;
  left: 100px;
  top: 390px;
  width: 80px;
  height: 70px;
  background: url(airplane.png) center no-repeat;
  background-size:cover;
  margin-bottom: 10px;
}

.asteroid {
  position:absolute;
  overflow: auto;
  width: 80px;
  height: 80px;
  background: center no-repeat;
  background-size:cover;
}